<h2>Tours</h2>


<table class="table">
  <thead>
    <tr>
      <th *ngFor="let c of columns">
        <div *ngIf="c.isSortable" (click)="sortBy(c.key)">
          {{ c.title }}
          <i *ngIf="query.sortBy === c.key" 
            class="fa"
            [class.fa-sort-asc]="query.isSortAscending"
            [class.fa-sort-desc]="!query.isSortAscending"
          ></i>
        </div>
        <div *ngIf="!c.isSortable">
          {{ c.title }}
        </div>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let t of tours">
      <td>{{ t.name }}</td>
      <td>{{ t.price }}</td> 
      <td>{{ t.departureCity }}</td>
      <td>{{ t.departureTime }}</td>
      <td>{{ t.hotel.name }}</td>
      <td>{{ t.daysCount }}</td>
      <td>{{ t.nightsCount }}</td>
      <td>
        <a [routerLink]="['/tours/', t.id]">View</a>
      </td>
    </tr>
  </tbody>
</table>
