<div id="fh5co-tours" class="fh5co-section-gray">

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Tour registration</h3>
            </div>
        </div>
        <div class="row">

            <div th:each="tour : ${tours}" class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                <form th:action="@{/bookTour(id=${tour.getId()})}" method="post">
                <div href="#">
                    <img src="/static/resources/images/place-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                    <div class="desc">
                        <span></span>
                        <h3 th:text="${tour.getName()}"></h3>
                        <span th:text="${tour.getDaysCount() + ' дней, ' + tour.getNightsCount() + ' ночей'}"></span>
                        <span th:text="${ '$' + tour.getPrice()}"></span>
                        <button type="submit" class="btn btn-primary btn-outline" href="#">Order
                            <i class="icon-arrow-right22"></i>
                        </button>
                    </div>
                </div>
                </form>
            </div>
         </div>
    </div>

</div>
