<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">TourAgency</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/tours/new']"
              >Add tour</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/hotels/new']"
              >Add hotel</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/countries/new']"
              >Add country</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/sales']"
              >Sales</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/hotels']"
              >Hotels</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/tours']"
              >Tours</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" [routerLink]="['/countries']"
              >Countries</a
            >
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" (click)="auth.logout({ returnTo: document.location.origin })" *ngIf="auth.isAuthenticated$ | async; else loggedOut"> 
              <span class="glyphicon glyphicon-user"></span> Logout</a>


        <!-- <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
            <button (click)="auth.logout({ returnTo: document.location.origin })">
              Log out
            </button>
          </ng-container>--> 
          </li>
      
          <li #loggedOut class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" (click)="auth.loginWithRedirect()"> 
              <span class="glyphicon glyphicon-user"></span> Login</a>

        <!-- <ng-template #loggedOut>
            <button (click)="auth.loginWithRedirect()">Log in</button>
          </ng-template>-->
        </li>

       <!--   <li class="nav-item" [routerLinkActive]="['link-active']">
            
             <a class="nav-link text-dark" (click)="auth.loginWithRedirect()"> 
              <span class="glyphicon glyphicon-user"></span> Login</a>
          </li>

          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="nav-link text-dark" (click)="auth.logout()" *ngIf="auth.authenticated()"> 
              <span class="glyphicon glyphicon-user"></span> Logout</a>
          </li>-->
        
        </ul>
      </div>
    </div>
  </nav>
</header>
